#ignore thumbnails created by windows
Thumbs.db
*~
~*
*#
*.swp

#Ignore files build by Visual Studio

*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.exp
*.ilk
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sdf
ipch/
*.opensdf
AppPackages/
bin/